$bg-500: #18191d;
$bg-450: #1d2024;
$bg-400: #252529;
$bg-300: #2a2b31;

$search-bg: #2a2b31;

$bg-1E2025: #1e2025;
$limeGreen: #7ac231;

$primary-btn-dark-background-color: #000000;

$text-white: #ffffff;
$text-clr-42434B: #62636e;
$text-primary-dark: #000000;
$text-testimonial-light-grey: #a7a4a8;

$text-clr-light-grey: #acaaad;
$text-clr-dark-grey: #6c6c6b;
$text-clr-grey-200: #cac9ca;
$text-clr-4C4D55: #4c4d55;
$text-clr-606166: #606166;
$text-clr-3A3C43: #3a3c43;
$text-clr-3F4048: #3f4048;

$border-primary: #3a3c43;

//THEMES

$header-theme-dark-clr: #000000;
$header-theme-light-clr: #ffffff;
